<%= button_to 'Voltar', departments_path, method: :get, class: "btn btn-default" %>

<h3>Editando departamento</h3>

<%= render 'form', department: @department %>

<%= link_to 'Mostrar', @department %>
