<h3>Editando departamento</h3>

<%= render partial: 'form', locals: { action: "Atualizar", department: @department } %>

<%= button_to 'Voltar', departments_path, method: :get, class: "btn btn-default" %>
